<div class="card-header">
    <div style="justify-content: space-between; display: flex;">
        <h4>Taining</h4>
    </div>
</div>


    

<div class="card-body" >

    <button  class="btn btn-primary" style="float: inline-end; margin-bottom: 10px;" routerLink="plan"
    routerLinkActive="active">CreateTraining Plan</button>

    <button class="btn btn-primary" style="float: inline-end; margin-bottom: 10px;" routerLink="ListPlan"
    routerLinkActive="active">Training Plans</button>

  



    

    <!-- <button  class="btn btn-primary"
                    
    style="margin-left: 5px; "[routerLink]="['updateTask/'+listTrainersTaskComponent.trainerTaskId]"> Update Task </button> -->

</div>

