<div class="card-header">
    <div style="justify-content: space-between; display: flex;">
        <!-- <h4>Training Request Form</h4> -->
        <span style="font-weight: 700; margin-top: 0.4em;">Training Request Form</span>
        <div class="row height d-flex justify-content-center align-items-center" style="width: 60%;">
            <div class="col-md-6">
                <div class="form">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control form-input" [(ngModel)]="searchValue"
                        placeholder="Search...">
                </div>
            </div>
        </div>
        <div style="justify-content: space-between; display: flex;">
            <div *ngIf="role_id1 ===5 ||role_id1 ===6 ||role_id1 ===3"> 
            <img [routerLink]="['view-request']" ngbTooltip="Training Request" class="header-logo-image"
                src="../../../../assets/icons-training-request.png" alt="ytms training request">
            </div>
            <button *ngIf="role_id1 ===5 ||role_id1 ===6 ||role_id1 ===3" ngbTooltip="Create Training Request" type="button" class="btn btn-light" (click)="createTrf()"> <i
                    class='bx bx-plus-circle' style="color: #293e40;cursor: pointer;font-size: 1.5rem;"></i>
            </button>
        </div>
    </div>
</div>
<div class="card-body">

 <div *ngIf="role_id1 ===5 ||role_id1 ===6 ||role_id1 ===3||role_id1 ===1"> 

    <ag-grid-angular style="height: calc(100vh - 28vh); width:100%;" class="ag-theme-alpine" [rowData]="rowData"
        [quickFilterText]="searchValue" [columnDefs]="columnDefs" [gridOptions]="gridOptions"
        (gridReady)="onGridReady($event)">
    </ag-grid-angular>

 </div>
 </div>
