<div class="body" #body>
    <div id="body-pd" #bodypd>
        <header #header class="header" id="header" style="border-bottom: 5px solid #5a7f71; background-color : #293e40;">
            <!-- <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle" #headertoggle></i> </div> -->
            <img class="header-logo-image" src="../../assets/yashlogo.iix" alt="YTMS Arcutis Biotherapeutics">
            <div id="tool" style="justify-content: flex-end; display: flex; padding-top: 0.4em;">
                <div style="justify-content: space-between; display: flex;">
                    <!-- <div class="header_img"> <img src="https://i.imgur.com/hczKIze.jpg" alt=""></div> -->
                    <div class="circle">{{imageLetter}}</div>
                    <div style="padding: 0.4em;"><span style="color: white;">{{userName}}</span></div>
                </div>
                <div class="header_toggle" style="margin-left: 0em;"><i ngbTooltip="Help" style="font-size: 1.2em;margin-top: 0.2em;"
                        class="bx bx-help-circle nav_icon useTool" aria-hidden="true"></i></div>
                <div class="header_toggle" style="margin-left: 0em;"><i ngbTooltip="Setting" style="font-size: 1.2em;margin-top: 0.2em;"
                        class="bx bx-cog nav_icon useTool" aria-hidden="true"></i></div>
            </div>
        </header>
        <div #navbar class="l-navbar" id="nav-bar" style="background-color : #293e40;">
            <nav class="nav">
                <div>
                    <a class="nav_logo">
                        <!-- <i class='bx bx-layer nav_logo-icon'></i> -->
                        <i class='bx bx-menu nav_logo-icon' id="header-toggle" #headertoggle></i>
                        <span class="nav_logo-name">YTMS</span>
                    </a>

                    <div class="nav_list"> 
                        <a ngbTooltip="Dashboard" class="nav_link" routerLinkActive="active" [routerLink] = "['dashboard']"> <i class='bx bx-grid-alt nav_icon'></i>
                            <span class="nav_name">Dashboard</span> </a> 
                            <a *ngIf = " role.roleName === 'ROLE_ADMIN'" ngbTooltip="User" class="nav_link" routerLinkActive="active" [routerLink] = "['UserDetails']" style="cursor: pointer;"> <i
                                class='bx bx-user-pin nav_icon'></i> <span class="nav_name">User</span> </a> 
                        <a *ngIf = "role.roleName === 'ROLE_TRAINER'|| role.roleName === 'ROLE_ADMIN'|| role.roleName === 'ROLE_MANAGER'|| role.roleName === 'TRAING_MANGER'" ngbTooltip="Trainer" class="nav_link" routerLinkActive="active" [routerLink] = "['trainer']" style="cursor: pointer;"> <i
                                class='bx bx-user nav_icon'></i> <span class="nav_name">Trainer</span> </a> 
                        <a *ngIf = "role.roleName === 'ROLE_TRAINER'|| role.roleName === 'ROLE_ADMIN' || role.roleName === 'ROLE_MANAGER' || role.roleName === 'TRAING_MANGER'|| role.roleName === 'ROLE_USER'" ngbTooltip="Training Request Form" class="nav_link" routerLinkActive="active" [routerLink] = "['trf']"> <i class='bx bx-message-square-detail nav_icon'></i> <span
                                class="nav_name" style="display: block;width: 150px;word-wrap: break-word;">TRF</span></a> 
                <a *ngIf = "role.roleName === 'ROLE_TRAINER'|| role.roleName === 'ROLE_ADMIN'|| role.roleName === 'ROLE_MANAGER'|| role.roleName === 'TRAING_MANGER'" ngbTooltip="Training" class="nav_link" routerLinkActive="active" [routerLink] = "['training']" style="cursor: pointer;"> <i class='bx bx-code nav_icon'></i> <span
                                class="nav_name">Training</span> </a>
                        <a *ngIf = "role.roleName === 'ROLE_TRAINER'|| role.roleName === 'ROLE_MANAGER'|| role.roleName === 'TRAING_MANGER'" ngbTooltip="Training Summary" class="nav_link" routerLinkActive="active" [routerLink] = "['summary']" style="cursor: pointer;"> <i
                                class='bx bxs-report nav_icon'></i> <span class="nav_name">Training Summary</span> </a>
                        <a *ngIf = "role.roleName === 'ROLE_ADMIN'|| role.roleName === 'ROLE_MANAGER'|| role.roleName === 'TRAING_MANGER'" ngbTooltip="Consolidated Training Report" class="nav_link" routerLinkActive="active" [routerLink] = "['ctr']"> <i class='fa fa-file nav_icon'></i> <span
                            class="nav_name" style="display: block;width: 150px;word-wrap: break-word;">CTR</span></a> 
                    </div>
                </div>
                <a ngbTooltip="Logout" class="nav_link" style="cursor: pointer;"> <i class='bx bx-log-out nav_icon' (click) = "logOut()"></i> <span
                        class="nav_name">SignOut</span> </a>
            </nav>
        </div>
        <div class="card">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>