@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root {
    --nav-width: 68px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

.body {
    position: relative;
    margin: 3rem 0 0 0;
    padding: 0 1rem;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    transition: .5s;
    overflow: hidden;
    background: rgba(203, 203, 210, .15);
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* justify-content: flex-end; */
    padding: 0 1rem;
    background-color: #F7F6FB;
    z-index: 100;
    transition: .5s
}

.header_toggle {
    color: #F7F6FB;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: -0.7em;
}

.header_img {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 30px;
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: 68px;
    height: 100vh;
    background-color: #4723D9;
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: 100
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: #F7F6FB;
}

.nav_logo-name {
    color: #F7F6FB;;
    font-weight: 700
}

.nav_link {
    position: relative;
    color: #F7F6FB;;
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: #AFA5D9
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(68px + 1rem)
}

.active {
    color: #AFA5D9
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: #F7F6FB;
}

.height-100 {
    height: calc(100vh - 27vh);
}

@media screen and (min-width: 768px) {
    .body {
        margin: calc(3rem + 1.5rem) 0 0 0;
        padding-left: calc(68px + 1rem)
    }

    .header {
        height: calc(3rem + 0.5rem);
        padding: 0 1rem 0 calc(68px + 2rem)
    }

    .header_img {
        margin-top: 0.2em;
        width: 30px;
        height: 30px
    }

    .header_img img {
        width: 30px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(68px + 156px)
    }

    .body-pd {
        padding-left: calc(68px + 188px)
    }

    .body-pd-1 {
        padding-left: calc(68px + 175px)
    }
}

.completed {
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1%;
}

.pending {
    height: 15px;
    width: 15px;
    background-color: #ADD8E6;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1%;
}

.inprogress {
    height: 15px;
    width: 15px;
    background-color: Grey;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1%;
}

.useTool:hover {
    color: #AFA5D9;
}