<div style="justify-content: flex-end; display: flex;">
  <img
    src="https://sts.yash.com/adfs/portal/illustration/illustration.png?id=183128A3C941EDE3D9199FA37D6AA90E0A7DFE101B37D10B4FEDA0CF35E11AFD"
    alt="ytms" width="65%" height="100vh" style="height: 100vh;">
  <div class="wrapper rounded bg-white" style="overflow: auto;height: 100vh; width: 35%; padding: 30px 45px;
        box-shadow: 5px 25px 35px #3535356b;">
    <div class="h3" style="display: grid;justify-items: center;margin-bottom: 1em;">SignIn</div>
    <form [formGroup]="loginForm">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <label style="font-size: small; margin-bottom: 0rem;" >Email</label>
        <input type="email" formControlName="email" placeholder="Email" class="form-control" />
        <div class="invalid-feedback"
          *ngIf="this.loginForm.get('email')?.touched && this.loginForm.get('email')?.hasError('required')">
          Email is required</div>
        <div class="invalid-feedback"
          *ngIf="this.loginForm.get('email')?.touched && this.loginForm.get('email')?.hasError('email')">
          Email must be a valid</div>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <label style="font-size: small; margin-bottom: 0rem;" >Password</label>
        <input type="password" formControlName="password" placeholder="Password" class="form-control" />
        <div class="invalid-feedback"
          *ngIf="this.loginForm.get('password')?.touched && this.loginForm.get('password')?.hasError('required')">
          Password is required</div>
        <div class="invalid-feedback"
          *ngIf="this.loginForm.get('password')?.touched && this.loginForm.get('password')?.hasError('pattern')">
          Invalid password
        </div>
      </div>

      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" checked />
            <label class="form-check-label" > Remember me </label>
          </div>
        </div>

        <div class="col">
          <!-- Simple link -->
          <a href="#!">Forgot password?</a>
        </div>
      </div>

      <!-- Submit button -->
      <button type="button" style="width: 100%;" [disabled]="!loginForm.valid" class="btn btn-primary btn-block mb-4" (click)="signIn()">Sign
        in</button>

      <!-- Register buttons -->
      <div class="text-center">
        <p>Not a member? <a [routerLink]="['../register']">Register</a></p>
        <p>or sign up with:</p>
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>
      </div>
    </form>
  </div>
</div>