<form [formGroup]="UpdateTrainer" (ngSubmit)="collectionsUpdate()">

    <!-- <div class="mb-3">
      <label class ="form-label" style="font-size: meddium; margin-bottom: 1rem;">UserId</label>
      <input type="number" class="form-control" placeholder="enter" formControlName="user.userId">
    </div> -->

    <div class="mb-3">
        <label class ="form-label">Trainer Id</label>
        <input type="number" class="form-control" placeholder="enter" formControlName="trainerId">
      </div>

    <div class="mb-3">
      <label class ="form-label">CurrentLocation</label>
      <input type="text" class="form-control" placeholder="enter" formControlName="currentLocation">
    </div>

    <div class="mb-3">
      <label class ="form-label">BaseLocation</label>
      <input type="text" class="form-control" placeholder="enter" formControlName="baseLocation">
    </div>

    <div class="mb-3">
      <label class ="form-label">IRM</label>
      <input type="text" class="form-control" placeholder="enter" formControlName="irm">
    </div>

    <!-- <div class="mb-3">
      <label class ="form-label">Type</label>
      <input type="text" class="form-control" placeholder="enter" formControlName="type">
    </div> -->

    <div class="mb-3">
      <label for="type">Type</label>
      <select id="inputState" class="form-control" placeholder="enter" formControlName="type">
        <option selected>Choose...</option>
        <option>Contract</option>
        <option>Permanent</option>
      </select>
    </div>
    <div class="mb-3">
      <label class ="form-label">TotalExperience</label>
      <input type="text" class="form-control" placeholder="enter" formControlName="totalExperience">
    </div>

      <div formGroupName="user">
      <h2>Registration Id</h2>
      <label class ="form-label">UserId </label>
      <input type="number" class="form-control" placeholder="enter" formControlName="userId">
      </div>

      
<button type="submit" class="btn btn-primary">Update</button>


<button class="btn btn-secondary" style="margin-left: 15px;" routerLink='/private/trainer/trainerslist'>Back</button>

  </form>
  