<div class="card-header">

    <span style="font-weight: 700; margin-top: 0.4em;">Trainer Profile</span>

</div>
<div class="container tbl-container">
    <div class="row tbl-fixed">
        <h2 style="text-align: center;">
Trainer Details
        </h2>
        <table class="table-striped table-condensed">
            <thead>
                <tr>
                    <!-- <th>TrainerId</th>
                    <th>First Name</th>
                    <th>Last Name </th>
                    <th>Employee Code </th>
                    <th>Base Location</th>
                    <th>Current Location</th>
                    <th>IRM</th>
                    <th>Type</th>
                    <th>Total Experience</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                    <th>gender </th>
                    <th>Profile CreatedOn</th>
                    <th> Profile UpdatedOn</th>
                    <th>Action</th> -->
                   <td>TrainerId</td>
                   <td><b>{{data.trainerId}}</b></td>
                </tr>

                <tr>
                <td>Registration No</td>
                <td><b>{{data.user.userId}}</b></td>
             </tr>
                <tr>
                <td>First Name: </td>
                <td>{{data.user.firstName}}</td>
            </tr>

            <tr>
                <td>Last Name: </td>
                <td>{{data.user.lastName}}</td>
            </tr>
            <tr>
                <td>Employee No: </td>
                <td>{{data.user.empCode}}</td>
            </tr>
            <tr>
                <td>Base Location: </td>
                <td>{{data.baseLocation}}</td>
            </tr>
            <tr>
                <td>Current Location: </td>
                <td>{{data.currentLocation}}</td>
            </tr>
            <tr>
                <td>IRM: </td>
                <td>{{data.irm}}</td>
            </tr>
            <tr>
                <td>Type: </td>
                <td>{{data.type}}</td>
            </tr>
            <tr>
                <td>Total Experience: </td>
                <td>{{data.totalExperience}}</td>>
            </tr>
            <tr>
                <td>Contact No: </td>
                <td>{{data.user.mobile}}</td>
            </tr>
            <tr>
                <td>Email: </td>
                <td>{{data.user.email}}</td>
            </tr>
            <tr>
                <td>Gender: </td>
                <td>{{data.user.gender}}</td>
            </tr>
            <tr>
                <td>CreatedOn: </td>
                <td>{{data.user.createdOn}}</td>
            </tr>
            <tr>
                <td>updatedOn: </td>
                <td>{{data.updatedOn}}</td>
            </tr>

            </thead>
             <!-- <tbody>
                
                    
                    <td>{{data.user.lastName}}</td>
                    <td>{{data.user.empCode}}</td>
                    <td>{{data.baseLocation}}</td>
                    <td>{{data.currentLocation}}</td>
                    <td>{{data.irm}}</td>
                    <td>{{data.type}}</td>
                    <td>{{data.totalExperience}}</td>
                    <td>{{data.user.mobile}}</td>
                    <td>{{data.user.email}}</td>
                    <td>{{data.user.gender}}</td>
                    <td>{{data.user.createdOn}}</td>
                    <td>{{data.updatedOn}}</td> -->

                    <td>

                        <!-- <button  class="btn btn-secondary"
                    
                         style="margin-left: 5px; "[routerLink]="['/private/trainer/trainerUpadte/'+data.trainerId]"> Update Profile </button> -->
                         <!-- <button (click)="UpdateProfile(data)" class="btn btn-secondary"></button> -->
                    </td>

                <!-- <tr *ngFor="let ts of data">
                   
                    <td>{{ts.trainerId}}</td>
                    <td>{{ts.user.firstName}}</td>
                    <td>{{ts.user.lastName}}</td>
                    <td>{{ts.user.empCode}}</td>
                    <td>{{ts.baseLocation}}</td>
                    <td>{{ts.currentLocation}}</td>
                    <td>{{ts.irm}}</td>
                    <td>{{ts.type}}</td>
                    <td>{{ts.totalExperience}}</td>
                    <td>{{ts.user.mobile}}</td>
                    <td>{{ts.user.email}}</td>
                    <td>{{ts.user.gender}}</td>
                    <td>{{ts.user.createdOn}}</td>
                    <td>{{ts.updatedOn}}</td>

                    <td>

                        <button  class="btn btn-secondary"
                    
                         style="margin-left: 5px;" routerLink='/private/trainer/view'> Update Profile </button>

                    </td>
                </tr>
            </tbody> -->
            <button class="btn btn-secondary" style="margin-left: 0px;" routerLink='/private/trainer/trainerslist'>Back</button>
        </table>
    </div>
</div>
