  <form [formGroup]="addTrainer" (ngSubmit)="onSubmit()">

    <div class="mb-3">
      <label for="type">Current Location</label>
      <select class="form-control" placeholder="enter" formControlName="currentLocation">
        <option selected>Choose...</option>
        <option *ngFor="let location of locationData">{{ location.name }}</option>
          </select>
      <div style="color:red;" *ngIf="addTrainer.controls['currentLocation'].touched && addTrainer.controls['currentLocation'].invalid">
        <span *ngIf="addTrainer.controls['currentLocation'].hasError('required')">Current Location is Required</span>
      </div>
    </div>

    <div class="mb-3">
      <label for="type">Base Location</label>
      <select class="form-control" placeholder="enter" formControlName="baseLocation">
        <option selected>Choose...</option>
        <option *ngFor="let location of locationData">{{ location.name }}</option>
          </select>
      <div style="color:red;" *ngIf="addTrainer.controls['baseLocation'].touched && addTrainer.controls['baseLocation'].invalid">
        <span *ngIf="addTrainer.controls['baseLocation'].hasError('required')">Base Location is Required</span>
      </div>
    </div>

    <div class="mb-3">
      <label class ="form-label">IRM</label>
      <input type="text" class="form-control" placeholder="enter" formControlName="irm">
      <div style="color:red;" *ngIf="addTrainer.controls['irm'].touched && addTrainer.controls['irm'].invalid">
        <span *ngIf="addTrainer.controls['irm'].hasError('required')">IRM is Required</span>
      </div>
    </div>

    <div class="mb-3">
      <label for="type">Type</label>
      <select id="inputState" class="form-control" placeholder="enter" formControlName="type">
        <option selected>Choose...</option>
        <option>Contract</option>
        <option>Permanent</option>
      </select>
      <div style="color:red;" *ngIf="addTrainer.controls['type'].touched && addTrainer.controls['type'].invalid">
        <span *ngIf="addTrainer.controls['type'].hasError('required')">Type is Required</span>
      </div>
    </div>
    <div class="mb-3">
      <label class ="form-label">Total Experience</label>
      <input type="text" class="form-control" placeholder="enter" formControlName="totalExperience">
      <div style="color:red;"
      *ngIf="addTrainer.controls['totalExperience'].touched && addTrainer.controls['totalExperience'].invalid">
      <span *ngIf="addTrainer.controls['totalExperience'].hasError('required')">Total Experience is Required</span>
    </div>
    </div>

  <div formGroupName="user">
      <h2>Registraion Id</h2>
      <label class ="form-label">User Id </label>
      <input type="text" class="form-control" placeholder="enter" formControlName="userId">
      </div>
      <br>
<button type="submit" class="btn btn-primary">Save</button>
<button class="btn btn-secondary" style="margin-left: 15px;" routerLink='/private/trainer'>Back</button>

  </form>