table {
    min-width: max-content;
    border-collapse: separate;
    border-spacing: 0px;
    table-layout: auto;
}

.tbl-container {
    max-width: 105%;
    max-height: fit-content;
}

.tbl-fixed {
    overflow-x: scroll;
    /* overflow-y: scroll; */
    /* width: calc(100vm - 50px); */
    height: fit-content;
    max-height: 70vh;
}

table th {
    position: sticky;
    top: 0px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #acd0f1;
}

table td {
    background: #fff;
    text-align: center;
    border: 1px solid #ccc;
}